<!-- Upload form enctype attribute! -->
<form action="{% url list %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.textfile.title }}
    {{ form.textfile.help_text }}
    {{ form.textfile.label_tag }}
    {{ form.textfile.errors }}
    {{ form.textfile }}
    <input type="submit" value="Upload" />
</form>


{% if dic %}
    {% for values in dic %}
        <li>{{values.0}} : {{ values.1 }}</li> 
    {%endfor%}
    
    
{% endif %}
